.foot-list {
    list-style: none;
}

.foot-icons {
    margin-right: 1rem;
    font-size: x-large;
}

.foot-headings{
    cursor: pointer;
    font-weight: bolder;
}

.foot-headings:hover {
    color: rgb(236, 94, 17);
}

.form-title{
    margin-left: 1rem;
}

@media screen and (max-width: 500px) {
    .footer-on-mobile {
        display: none;
    }
}


