.cart-list {
    list-style-type: none;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    background: #fff;
}

.cart-img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 5px;
}
/* 
.cart-item {
    margin-left: 100px;
} */

.cart-total {
    margin-top: 20px;
    font-weight: bold;
}