.cart-container{
    display: grid;
    grid-template-columns: auto 1fr;
}

.cart-list {
    list-style-type: none;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    align-items: center;
    background: #fff;
}

/* .cart-img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    cursor: pointer;
} */

.bg-clr{
    background-color: #fff;
}

.cart-item {
    white-space: pre-wrap;
    word-break: break-word;
    max-width: 25ch; /* Restricts the line length to 20 characters */
  }

.cart-total {
    margin: 20px;
    font-weight: bold;
    align-items: center;
}
