.cart-list {
    list-style-type: none;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    background: #fff;
}

.cart-img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 5px;
}

.bg-clr{
    background-color: #fff;
}

.cart-total {
    margin: 20px;
    font-weight: bold;
}

.border-radius{
    border-radius: 50%;
    height: 2.5rem;
}