.card-comp {
  cursor: pointer;
  border: 1px solid darkgray;
  border-radius: 0.2rem;
}

.card-img-top {
  height: 140px;
  object-fit: scale-down;
}

.card-style {
  width: 100%;
  border: none;
}

.card-area {
    padding: 1rem;
}

@media screen and (max-width: 450px) {
  .card-img-top {
    height: 60px;
    width: 70px;
    margin-left: .5rem;
  }

  .card-title-text-size {
    font-size: 10px;
  }

  .form-text-size {
    font-size: 8px;
  }

  .card-comp {
    width: 100%;
    /* min-width: 70%; */
  }

  .card-area {
    padding: .5rem;
}
}
