.alert-overlay {
    position: fixed;
    top: 5%;
    left: 40%;
    z-index: 9999; /* Make sure it's above other content */
  }

  .alert-msg{
    font-size: x-large;
    
  }
  
  .modal-alert {
    background-color: #fff;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    width: 100%;
    text-align: center;
  }

  /* Success alert */
.alert-success {
    background-color: #28a745; /* Green */
    color: white;
  }
  
/* Danger alert */
.alert-danger {
background-color: #dc3545; /* Red */
color: white;
}
  