.prod-img {
  height: 300px;
  /* width: 30vw; */
  object-fit: scale-down;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--image-bg);
  border-radius: 10px;
}

.single-prod {
  display: flex;
}

.prod-info {
  text-align: justify;
  flex: 1 1 50%;
}

.prod-img-wishlist {
  position: relative;
  flex: 1 1 20%;
}

.prod-wishlist-btn {
  position: absolute;
  top: 0%;
  right: 0%;
  padding: 0.3rem 0.5rem;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.prod-wishlist-icon {
  font-size: xx-large;
}

@media screen and (max-width: 450px) {
  .single-prod {
    display: block;
  }

  .prod-img {
    height: 200px;
    object-fit: scale-down;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--image-bg);
    border-radius: 10px;
  }

  .login-text-size {
    font-size: 14px;
  }

  .desc-text-size {
    font-size: 12px;
  }
}
