.sub-nav {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1100;
  background-color: white;
  border-top: 1px solid #ccc;
}

.subnav-ul {
  gap: 2rem;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0.5rem 0 0.5rem 0;
  justify-content: center;
  border: 1px solid grey;
}

.subnav-lists {
  cursor: pointer;
  position: relative;
}

.subnav-lists:active {
  color: rgb(15, 34, 244);
}

.subnav-links {
  color: black;
  text-decoration: none;
}

.subnav-icons {
  display: block;
  color: rgb(125, 125, 125);
}

.subnav-cart-length {
  position: absolute;
  top: -18%;
  right: -15%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 10px;
  background-color: rgb(8, 193, 8);
  border: none;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
}

@media screen and (max-width: 500px) {
  .sub-nav {
    display: block;
  }
}

@media screen and (max-width: 380px) {
  .subnav-text {
    font-size: 12px;
  }
}

@media screen and (max-width: 330px) {
  .subnav-text {
    font-size: 13px;
  }

  .subnav-ul {
    gap: 1.3rem;
  }
}
