.navs:hover {
    border-bottom: 2px solid orangered;
}

.navs{
    margin: auto;
}

.cont-login{
    list-style: none;
    color: black;
}

.theme-icon{
    margin: auto;
}

/* .cart-icon{
    font-size: 1.5rem; 
} */

.wishlist-icon{
    font-size: 1.5rem;
    color: red;
}

.sun{
    cursor: pointer;
    color: rgb(28, 28, 28);
}

.moon{
    cursor: pointer;
    color: rgb(28, 28, 28);
}

.hide{
    display: none;
}

.search_box {
    border: 1px solid grey;
    border-radius: 5px;
}

.search-bar{
    width: 100%;
    border: none;
    padding: 5px;
    border-radius: 10%;
    outline: none;
}
.search-btn {
    padding: 3px 10px;
    border: none;
    border-radius: 10%;
}

@media only screen and (max-width: 400px){
    .search_box{
        display: none;
    }
}
