.navs {
    border: 2px solid #fff;
}

.navs:hover {
    border-bottom: 2px solid orangered;
}

.cont-login{
    list-style: none;
    color: black;
}

.theme-icon{
    margin: auto;
}

.cart-icon{
    font-size: 1.5rem;
}

.wishlist-icon{
    font-size: 1.5rem;
    color: red;
}

.sun{
    cursor: pointer;
    color: rgb(28, 28, 28);
}

.moon{
    cursor: pointer;
    color: rgb(28, 28, 28);
}

.hide{
    display: none;
}